<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="./assets/css/global.css">
    <link rel="stylesheet" href="./assets/css/help/style.css">
    <meta charset="UTF-8">
    <title></title>
</head>

<body>

<div class="navbar">

    <button class="navbar-button">Home</button>
    <button class="navbar-button">GitHub</button>
    <button class="navbar-button">Developer</button>
    <button class="navbar-button">Help</button>
    <button class="navbar-button">Settings</button>
    
</div>

<div class="wrapper">

    <div class="wide-card">
        <button class="drop-down"><span class="body-text">How do I create a new To-Do list item?</span></button>
    </div>

    <div class="wide-card">
        <button class="drop-down"></button>
    </div>

    <div class="wide-card">
        <button class="drop-down"><span class="body-text">Where does my data get saved?</span></button>
    </div>


</div>

</body>
</html>