<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="./assets/css/global.css">
    <link rel="stylesheet" href="./assets/css/sign-up/style.css"
    <meta charset="UTF-8">
    <title>Sign-up</title>
</head>

<body>

<div class="navbar">
    <span class="title-text">MiDash Sign up:</span>
</div>

<div class="wrapper">

   <div class="wide-card">
       <span>Email Address</span>
       <input type="email" placeholder="Email...">
       <span>Username</span>
       <input type="text" placeholder="Username...">
       <span>Password</span>
       <input type="password" placeholder="Password...">
       <button>Sign up</button>
       <button>Already have an account? Login here</button>
   </div>

  
</div>



</body>
</html>