:root {
    /*fonts*/
    --font-small: 16px;
    --font-medium: 18px;
    --font-large: 24px;
    --font-family: "Helvetica Neue", "Lucida Grande", "Arial", "Verdana", "Tahoma", sans-serif;

    /*colours*/
    --main-color: rgb(79, 174, 218);
    --main-second-colour: rgb(255,255,255);
    --main-third-colour: rgb(240,240,240);
    --main-fourth-colour: rgb(180, 174, 174);
    --main-fifth-colour: rgb(228, 224, 224);

    --main-button-colour: rgb(28, 116, 156);
    --button-hover-colour: rgb(21 84 112);
    --button-icon-colour: rgb(14,12,10);
    --nav-bar-outline: rgb(223,131,38);
    --title-card-shadow: rgb(209, 122, 35);

    /*shadows*/

    --shadow-light: 0 1px 1px rgba(0,0,0,0.08), 0 2px 2px rgba(0,0,0,0.12), 0 4px 4px rgba(0,0,0,0.16), 0 8px 8px rgba(0,0,0,0.20);
}

html, input, textarea {
    font-family: var(--font-family);
}

body {
    background: var(--main-color);
}

.wrapper {
    font-size: 0;
}

.title-card {
    background: var(--nav-bar-outline);
    box-shadow: var(--title-card-shadow);
    color: var(--main-third-colour);
    font-size: var(--font-large);
    text-align: center;
    padding: 10px 10px 10px 10px;
    width: auto;
    display: block;
    margin-bottom: 5px;
}

.title-text {
    font-size: var(--font-large);
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    width: 8em;
}

.navbar {
    background: var(--main-second-colour);
    font-size: var(--font-larger);
    text-align: center;
    padding: 10px 10px 10px 10px;
    width: auto;
    display: block;
    margin-bottom: 15px;
    box-shadow: var(--shadow-light);
    outline-style: solid;
    outline-color: var(--nav-bar-outline);
}

.navbar a {
    text-decoration: none;
}

.navbar-button {
    fill: var(--button-icon-colour);
    color: var(--main-second-colour);
    background-color: var(--main-button-colour);
    font-weight: bold;
    border-radius: 10px 10px 10px 10px;
    display: inline-block;font-size: medium;
    padding: 10px 10px 10px 10px;
    margin: 5px;
    cursor: pointer;
    height: 60px;
    width: 110px;
    border: none;
    outline: none;
    transition: 0.25s;
}

.navbar button:hover {
    background-color: var(--button-hover-colour);
    transition: 0.25s;
}

.navbar button.active {
    background: var(--button-hover-colour);
}



.svg-icon {
    padding: 3px 10px 10px 10px;
    width: 25px;
    height: 25px;
    vertical-align: bottom;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wide-card {
    background: var(--main-second-colour);
    box-shadow: var(--shadow-light);
    color: black;
    padding: 10px 10px 10px 10px;
    margin: 20px auto 0 auto;
    width: calc(100% - 40px - 20px);
    border-radius: 10px;
    display: block;
    font-size: var(--font-small);
}

button {
    transition: background 0.25s;
}

